body {
    background: var(--white);
}

.pointer {
    cursor: pointer;
}

/* FOOTER */

footer {
    z-index: 4;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .footerfucker {
    display: grid; /* match what's set up for nav */
    grid-template-columns: 1fr var(--main-width) 1fr;
}

footer .footerfucker > div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

footer .footer-selector .title {
    width: var(--sidebar-width);
    position: absolute;
    top: -32px;
}

footer .footer-selector .select-button {
    flex-grow: 1;
}

footer .footer-selector .select-button:hover {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

footer .footer-center {
    position: relative;
}

footer .footer-center-bottom {
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.footer-center-bottom p {
    flex-grow: 1;
}

footer .footer-center .wrap-button {
    font-size: 18px;
    letter-spacing: -0.2em;
}

footer .footer-center .wrap-button:hover {
    background-color: var(--red);
    color: var(--white);
    cursor: pointer;
}

footer .footerdeco .footerart {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

footer .footerdeco .footerart .footerart__wrapper {
    height: 132px;
}

footer .footerdeco .footerart .footerart__wrapper img {
    padding-left: 32px;
    padding-right: 32px;
}

footer .footerdeco .footerart .logo {
    border-left: var(--border);
    border-right: var(--border);
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}




/* NAV SCAFFOLDING */

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr var(--main-width) 1fr;

    margin-bottom: 20em;

    /* Styles */
    background-color: var(--pink);
}

nav .nav-card {
    display: flex;
    flex-direction: column;
    width: 150px;
    margin: 0 auto;
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    transition: 0.2s ease-in-out;
    border: var(--border);
}

nav .nav-card:hover {
    cursor: pointer;
    transition: 0.2s ease-in-out;
    transform: scale(0.95);
}

.nav-card.selected {
    transform: scale(0.95);
}

nav .nav-card__overlay{
    background: var(--red);
    width: 150px;
    height: 200px;
    position: absolute;
    mix-blend-mode: screen;
    display: none;
    z-index: 3;
}

nav .nav-card__overlay-selected {
    display: initial;
}

nav .nav-card__grayscale {
    filter: grayscale(1)
}

nav img {
    width: 100%;
}

/* Card Shit */
.label__wrapper {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 4;
}

.cell__red {
    background-color: var(--red);
    color: var(--white);
}

.cell__white {
    background-color: var(--white);
}

.cell__pink {
    background-color: var(--pink);
}

.cell {
    border: var(--border);
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    min-height: 32px;

}

.balance__container {
    display: grid;
    grid-template-columns: 50% 50%;
}

/* HEADER GLOBAL */

.circle {
    height: 12px;
    width: 12px;
    border-radius: 100%;
    margin-right: 10px;
}

.circle-blink {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

.circle-red {
    background-color: var(--red);
}

.circle-orange {
    background-color: orange;
}

.circle-green {
    background-color: #33ED2F;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.header__connect {
    position: sticky;
    top: 0;
}

/* MAIN */

.hidden {
    display: none !important;
}

main {
    position: fixed;
    overflow-y: scroll;
    width: var(--main-width);
    height: 100%;
    top: 0;
    left: var(--sidebar-width);
    background-color: var(--white);
    border: var(--border);
}

main .row__gridfucker {
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
}

.row-displayinitial {
    display: initial;
}

main .main__line {
    display: flex;
    height: calc(100% - 104px);
    width: 100%;
    overflow-y: hidden;
    position: absolute;
    /* z-index: 5; */
}

main .mainbox {
    /* height: 100%; */
    overflow-y: hidden;
    width: 100%;
    border: var(--border);
}

#connect-wallet,#click-da-cards,#install-metamask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
    z-index: 9999;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#click-da-cards img {
    margin-bottom: 32px;
}

button {
    display: block;
    margin-top: 32px;
    margin-bottom: 4px;
    margin-right: 4px;
    outline: none;
    border: var(--border);
    font-family: 'Roboto Mono';
    font-size: 1.2em;
    color: var(--red);
    padding-left: 32px;
    padding-right: 32px;
    padding-top: 16px;
    padding-bottom: 16px;
    box-shadow: 4px 4px 0px var(--red);
    transition: 0.1s ease-in-out;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0px 0px 0px var(--red);
    background: var(--red);
    color: var(--white);
    transition: 0.1s ease-in-out;
    margin-top: 32px;
    margin-bottom: 0px;
    margin-right: 0px;
}


